<div class="widget stats">
  <h3 class="ui top attached header">
    Stats
  </h3>
  <div class="ui attached segment">
    <div class="ui horizontal statistics">
      <div class="statistic">
        <div class="value">
          <i class="icon users"></i> {{user.length}}
        </div>
        <div class="label">Random users</div>
      </div>
      <div class="statistic">
        <div class="value">
          <i class="icon bullhorn"></i> {{post.length}}
        </div>
        <div class="label">Random posts</div>
      </div>
    </div>

    <div class="ui divider"></div>

    Join the fun! We have candies!
  </div>
</div>