<div class="widget request">
  <h3>New Requests</h3>

  <div class="ui cards">
    {{#each relation as |request|}}
    <div class="ui fluid card">
      <div class="content">
        <img src="{{request.avatar}}" alt="" class="floated mini ui image">
        <div class="header">
          {{request.name}}
        </div>
        <div class="meta">New member</div>
        <div class="description">{{request.name}} wants to join your gang</div>
      </div>
      <div class="extra content">
        <div class="ui two buttons">
          <ui class="ui basic green button">Approve</ui>
          <ui class="ui basic red button">Decline</ui>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>