<div class="widget credits">
  <h3>Credits</h3>

  <div class="ui list">
    <div class="item">
      <i class="linkedin icon"></i>
      <div class="content"><a href="https://www.linkedin.com/in/rizky">linkedin.com/in/rizky</a></div>
    </div>
    <div class="item">
      <i class="github square icon"></i>
      <div class="content"><a href="https://github.com/rizkysyazuli">github.com/rizkysyazuli</a></div>
    </div>
    <div class="item">
      <i class="envelope square icon"></i>
      <div class="content"><a href="mailto:rizky@me.com">rzky@me.com</a></div>
    </div>
  </div>
</div>