<div class="ui feed">
  {{#each data as |post|}}
  <div class="event">

    <div class="label">
      <img src="{{post.user.card.avatar}}" alt="{{post.user.card.name}} avatar">
    </div>

    <div class="content">
      <div class="date">{{moment-from-now post.date}}</div>

      <div class="summary">
        {{#link-to 'user.view' post class='user'}}{{post.user.card.name}}{{/link-to}}

        {{#if (eq post.type 'text')}}
          posted on their page
        {{else}}
          added {{post.media.length}} new photos
        {{/if}}
      </div>

      {{#if (eq post.type 'text')}}
        <div class="extra text">
          {{post.content}}
        </div>
      {{else}}
        <div class="extra images">
          {{#each post.media as |media|}}
            <img src="{{media}}" alt="">
          {{/each}}
        </div>
      {{/if}}

      <div class="meta">

      </div>
    </div>

  </div>
  {{/each}}
</div>