<form class="section update">

  <div class="ui segment">
    <div class="ui form">
      <div class="field">
        {{textarea rows='2'}}
      </div>

      <button class="ui submit button">Post Update</button>
    </div>
  </div>

</form>

<div class="ui hidden divider"></div>