<div class="image">
  <img src="{{user.avatar}}" alt="{{user.name}}'s avatar">
</div>

<div class="content">
  <div class="header">{{user.name}}</div>
</div>

<div class="extra content">
  <div class="ui four buttons">
    {{#if isFriend}}
    <button class="ui icon button" data-tooltip="{{isFriendStatus.message}}" {{action 'updateFriend'}}><i class="{{isFriendStatus.icon}} icon"></i></button>
    {{else}}
    <button class="ui icon button" data-tooltip="{{isFriendStatus.message}}" {{action 'updateFriend'}}><i class="{{isFriendStatus.icon}} icon"></i></button>
    {{/if}}

    <button class="ui icon button" data-tooltip="{{isFollowingStatus.message}}" {{action 'updateFollowing'}}><i class="{{isFollowingStatus.icon}} icon"></i></button>

    <button class="ui icon button" data-tooltip="{{blockedStatus.message}}" {{action 'blockUser'}}><i class="{{blockedStatus.icon}} icon"></i></button>
  </div>
</div>