<div class="ui grid">
  <aside class="four wide column">

    {{ui-usercard user=model.user.card isFriend=true}}

    <div class="ui hidden divider"></div>

    <div class="ui inverted vertical pointing menu fluid">
      <a {{action (mut activeTab) 1}} class="item {{if (eq activeTab 1) 'active'}}">Activity</a>
      <a {{action (mut activeTab) 2}} class="item {{if (eq activeTab 2) 'active'}}">Friends</a>
      <a {{action (mut activeTab) 3}} class="item {{if (eq activeTab 3) 'active'}}">Photos</a>
    </div>

  </aside>

  <div class="twelve wide column">

    {{ui-feed-update}}

    {{#if (eq activeTab 1)}}
    <section class="section feed">
      <h3 class="ui horizontal divider header">
        <i class="rss icon"></i>
        Activity
      </h3>

      <div class="ui segment">
        {{ui-feed data=model.user.post}}
      </div>
    </section>{{!-- .section.feed --}}
    {{/if}}

    {{#if (eq activeTab 2)}}
    <section class="section common">
      <h3 class="ui horizontal divider header">
        <i class="users icon"></i>
        Mutual Friends
      </h3>

      {{ui-userlist data=model.user.relation.common isFriend=true}}
    </section>{{!-- .section.common --}}

    <div class="ui hidden divider"></div>

    <section class="section friends">
      <h3 class="ui horizontal divider header">
        <i class="users icon"></i>
        Friends
      </h3>

      {{ui-userlist data=model.user.relation.friends}}
    </section>{{!-- .section.friends --}}
    {{/if}}

    {{#if (eq activeTab 3)}}
    <section class="section photos">
      <h3 class="ui horizontal divider header">
        <i class="images icon"></i>
        Photos
      </h3>
    </section>{{!-- .section.photos --}}
    {{/if}}

  </div>
</div>

<div class="ui hidden divider"></div>

{{outlet}}