<div class="ui main container">
  <div class="ui fixed inverted main menu">
    {{#link-to 'index' class='item'}}DevCity.io{{/link-to}}

    <div class="right menu">
      <a href="#" class="item"><i class="icon user"></i> My Profile</a>
    </div>
  </div>

  {{outlet}}
</div>
