<div class="ui grid">
  <div class="eleven wide column">

    {{ui-feed-update}}

    <h3 class="ui horizontal divider header">
      <i class="rss icon"></i>
      Latest Activities
    </h3>

    {{ui-feed data=model.post}}

    <button class="fluid ui black button">Load More</button>

  </div>

  <aside class="five wide column">
    {{ui-aside-stats user=model.user post=model.post}}

    <div class="ui hidden divider"></div>

    {{ui-aside-request relation=model.relation.common}}

    <div class="ui hidden divider"></div>

    {{ui-aside-credit}}
  </aside>
</div>

{{outlet}}